body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 100vh;
	background-color: hsl(0, 0%, 10%);
}
.maindiv {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: hsl(0, 0%, 15%);
	flex-direction: column;
	width: 600px;
	height: 300px;
	border-radius: 15px;
}

.sign_up {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: hsl(0, 0%, 95% );
}
.submit_button {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: hsl(0,0%,30%);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-top: 15px;
}
.submit_button:hover {
  background-color: #393E46; /* slight lighter on hover */
}
.submit_button:hover {
  background-color: #393E46;
  color: white;
}
.div-three {
	margin-top: 3px;
}
.div-four {
	margin-top: 3px;
}
